<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      APPSHOPBC
    </ion-title>
    
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <div id="container">
    <strong>BIENVENUE DANS MON APPSHOP HIJAB GIRLS</strong>
    <p>FAITES DU SHOPPING A UN CLI</p>

    <p>Des djilbabs de bon qualité à bas prix</p>
                    <p> ROBE LONGUE</p>
  </div> 
   <ion-card>
    <img alt="Silhouette of mountains" src="https://cdn.pixabay.com/photo/2016/04/15/21/27/muslima-1331980_1280.jpg" />
    <ion-card-header>
      <ion-card-title>Voile muslin</ion-card-title>
      <ion-card-subtitle>Pudiquement belle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Des voilles de bonne qualité chez APPSHOPBC HIJAB GIRL
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://cdn.pixabay.com/photo/2017/01/31/19/24/clothes-2026660_1280.png" />
    <ion-card-header>
      <ion-card-title>JILBAB</ion-card-title>
      <ion-card-subtitle>Ample et longue</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Fait vite pour commander à nous les meilleures qualité
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://cdn.pixabay.com/photo/2018/12/16/15/02/hijab-3878641_1280.png"/>
    <ion-card-header>
      <ion-card-title>Niqab</ion-card-title>
      <ion-card-subtitle>Fait votre choix</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Le vrai beauté c'est la pudeur.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://cdn.pixabay.com/photo/2018/01/01/16/42/hijab-3054493_1280.png"/>
    <ion-card-header>
      <ion-card-title>Abaya</ion-card-title>
      <ion-card-subtitle>Coton Simple</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Des Abaya de dernière génération 100% en coton
    </ion-card-content>
  </ion-card>

</ion-content>

